<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="已导入的规则 1" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="true"/>
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
					</conditions>
					<action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" logRewrittenUrl="true"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<system.web>
		<compilation targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web></configuration>
